body{
  background-color: #FFC54D;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: green;
  border-width: 5px;
  width: 5%;
 }
 h2{
background-color: white;   color: #53BF9D;
 }
h1{
  color: red;
}
